.tasks {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, .15);
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px;
    border: 1px solid #2e6da4;
    position: relative;
}

.tasks > span.title {
    color: #000;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tasks > button {
    margin-left: 5px;
    margin-right: 5px;
}

.no-margin {
    margin-bottom: 0;
}

.dashed-border {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.column-height {
    height: 500px;
}
